.not-found {
    position: relative;
    top: 4vh;
    height: 70vh;
    background: url('../img/slider-1.png') no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 1rem;

    h2 {
        text-align: center;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        font-size: 2rem;
        padding: 2rem 3rem;
    }
}