//Nav section
header {
    width: 100vw;
    position: fixed;
    top: 0rem;
    left: 0;
    height: 5rem;
    z-index: 1000;





    nav {
        width: 100vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: .5rem 0;
        transition: 1s ease-in-out;
    }

    .nav-border {
        background: rgba(7, 11, 75, 0.9);
        box-shadow: 0 0 30px black;
        transition: 1s ease-in-out;
    }

    ul.main-nav {
        width: 60%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    ul.main-nav li {
        list-style: none;
        position: relative;
        cursor: pointer;
        transition: .5s ease-in-out;
    }

    ul.main-nav li a {
        text-decoration: none;
        color: white;
        font-size: .9rem;
    }

    ul.main-nav i {
        margin-left: .2rem;
        font-weight: bold;
        transition: 1s;
    }

    ul.main-nav li ul{
        width: 100%;
        padding: 0;
        position: absolute;
        top: 1.1rem;
        right: 0; 
        display: flex;
        flex-direction: column;
    }

    ul.main-nav li ul li{
        width: 8rem;
        height: 2rem;
        border-radius: 3%;
        background-color: lighten($blue-font, 20%);
        border-bottom: solid whitesmoke 1px;
        text-align: center;
        padding-top: .9rem;
        cursor: pointer;
        transition: .5s ease-in-out;
        display: none;
    }

    ul.main-nav li:hover i {
        transform: rotate(180deg);
    }

    ul.main-nav li:hover ul li {
        display: block;
    }

    ul li ul li:hover {
        transform: scale(1.08);
    }

    #login-dropdown {
        left: -1.5rem;
    }

    .burger-container {
        display: none;
    }

    .burger-container div {
        width: 25px;
        height: 2px;
        background-color: white;
        margin: 5px 0;
        transition: .5s ease;
    }
}

#showcase {
    position: relative;
    overflow-x: hidden;

    div#slide-images {
        position: relative;
        width: 400%;
        height: 100vh;
        margin: 0;
        left: 0;
        top: -1rem;
        animation: 20s slider infinite linear;
        overflow-x: hidden;

    }

   

    div#slide-images img {
        width: 25%;
        height: 100%;
        float: left;
    }

    .showcase-text {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // background:rgba(7, 11, 75, 0.5);
        background:rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -1rem;
    }

    .showcase-text .text-container {
        width: 50%;
        color: white;
    }

    .text-container h2 {
        font-size: 3.5rem;
        font-weight: bold;
        font-family: $header-font;
    }

    .text-container p {
        margin-top: -2rem;
        font-size: 1rem;
        line-height: 1.2;
        font-weight: 100;
    }

    .showcase-links {
        margin-top: 2rem;

    }

    .text-container .showcase-links a {
        color: white;
        border: solid 1px white;
        background: none;
        padding: .5rem 4rem;
        text-decoration: none;
        font-size: .9rem;
        transition: 1s;
    }

    .text-container .showcase-links a:last-child {
        background: rgb(245, 34, 34);
        border: none;
    }

    .text-container .showcase-links a:first-child:hover {
        background-color: $deep-blue;
        border: solid $deep-blue 1px;
    }

    .text-container .showcase-links a:last-child:hover {
        background-color: lighten(rgb(245, 34, 34), 20%);
    }

    .showcase-text img {
        border-radius: 60%;
        width: 25%;
        animation: showcase-logo-slider 20s linear infinite;
    }
    
}

//about section 
.about-container {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 4rem 0;
    color: $blue-font;

    .about-image {
        width: 70%;
        z-index: 2;
    }

    .about-image img {
        width: 100%;
    }

    .about-text-container {
        width: 100%;
        height: 100%;
        background-color: lighten($color: $bg-blue, $amount: 40%);
        margin-left: -8rem;
        margin-right: 8rem;
        padding: 2rem 6rem 3rem 1rem;
        border: solid .7rem $deep-blue;
    }

    .about-text-container h2{
        margin-left: 10rem;
        font-family: $header-font;
        font-size: 3rem;
    }

    .about-text-container img {
        width: 100%;
        margin-top: -1.5rem;
        display: none;
    }

    .about-text-container p{
        margin-left: 10rem;
        margin-bottom: 2rem;
        font-weight: 200;
    }

    .about-text-container a {
        margin-left: 10rem;
        text-decoration: none;
        color: white;
        padding: 1rem 2rem;
        background: $bg-blue;
        transition: 1s ease-in-out;
    }

    div.about-link {
        margin-bottom: 2rem !important;
        transition: 1s;
    }

    div.about-link:hover {
        transform:  scale(1.05);
    }
}

//count section
.count-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $deep-blue;
    padding: 1rem 0;
    color: rgb(184, 179, 179);

    .top-count, 
    .bottom-count {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
        
    .count-item {
        display: flex;
        align-items: center;
    }

    .count-item i {
        font-size: 2.5rem;
        margin-right: 3rem;
    }

    .count-item .number {
        font-size: 2rem;
        font-weight: bold;
        font-family: $header-font;
        margin-bottom: -1rem;
    }
}

//job section
.job-container {
    padding: 4rem 0;

    h2 {
        font-family: $header-font;
        font-size: 3rem;
        text-align: center;
        color: $blue-font;
    }

    .job-list-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .job-list-container .job {
        width: 20%;
        border: 1px grey solid;
        padding: 3rem 2rem;
        margin: 0 1rem;
        transition: .5s ease-in-out;
        box-shadow: 0 0 10px black;
        text-align: center;
    }

    .job-list-container .job:hover {
        transform: scale(1.05);
    }

    .job img {
        width: 30%;
    }

    .job button {
        background: $red-button;
        padding: .5rem 2rem;
        border: none;
        outline: none;
        color: white;
        cursor: pointer;
        transition: .5s ease-in-out;
    }

    .job .expired {
        background: grey !important;
        pointer-events: none;
    }

    .job button:hover {
        transform: scale(1.05);
    }

    .job-link {
        width: 100%;
        text-align: center;
        margin-top: 4rem;
        transition: .5s;
    }

    .job-link a {
        text-decoration: none;
        border: solid 1px $blue-font;
        color: $blue-font;
        padding: 1rem 1.5rem;
    }

    .job-link:hover {
        transform: scale(1.05);
    }
}

//static-image
.static-image {
    background: url('../img/gate.png') no-repeat;
    height: 60vh;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

//news section 
.news-container {
    background-color: lighten($color: $bg-blue, $amount: 40%);
    margin-top: -1.5rem;
    padding: 4rem 1rem;

    .news-items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    h3 {
        font-family: $header-font;
        font-size: 3rem;
        text-align: center;
        color: $blue-font;
    }

    .news-item {
        background: whitesmoke;
        margin: 0 1rem;
        padding-bottom: 1rem;
        transition: .5s;
    }

    .news-item:hover {
        transform: scale(1.05);
    }

    .news-item img {
        width: 100%;
    }

    .news-item h4 {
        padding: 0 1.5rem;
        font-size: 1.3rem;
        color: $blue-font;
    }

    .news-item p {
        font-size: 1rem;
        color: $blue-font;
        padding: 0 1.5rem;
    }

    .news-item button {
        font-size: .9rem;
        background-color: $blue-font;
        margin: 0 1.5rem;
        padding: .5rem 1rem;
        border: none;
        outline: none;
        color: whitesmoke;
        cursor: pointer;
        transition: .5s ease-in-out;
    }

    .news-item button:hover {
        transform: scale(1.05);
    }
}

//second static-image
.second-static-image {
    background: url('../img/66191922_2287587327961265_4432776162120302592_o.jpg') no-repeat;
    height: 60vh;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

//event section
.event-container {
    padding: 4rem 3rem;

    h3 {
        font-family: $header-font;
        font-size: 3rem;
        text-align: center;
        color: $blue-font;
    }

    .event-items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
        justify-items: center;
    }

    .event-item {
        padding: 2rem 1rem;
        box-shadow: 0 0 10px black;
        transition: .5s;
    }

    .event-item:hover {
        transform: scale(1.05);
    }

   
    
    .event-item img {
        width: 30%;
        
    }

    .event-details-container {
        display: flex;
        align-items: center;
        width: 100%;
        
    }

    .event-details-container .date {
        margin-right: 1rem;
    }

    .date p {
        font-size: .9rem;
        font-weight: bold;
    }

    .date p:nth-child(2) {
        font-size: 2rem;
        color: $red-button;
        margin: -.9rem 0;
    }.event-details p:last-child {
        color: $blue-font;
        font-weight: bold;
    }
}

//gallery section
.gallery-container {
    background-color: lighten($color: $bg-blue, $amount: 40%);
    padding: 3rem 0;
    position: relative;
    overflow-x: hidden;


    h3 {
        font-family: $header-font;
        font-size: 3rem;
        text-align: center;
        color: $blue-font;
    }

    div#slide-images {
        position: relative;
        width: 300%;
        height: 50%;
        margin: 0;
        left: 0;
        top: -1rem;
        animation: 20s slider-gallery infinite linear;
        overflow-x: hidden;

    }

    div#slide-images:last-child {
        animation-direction: reverse;

    }

    div#slide-images img {
        width: 12.5%;
        height: 50%;
        float: left;
    }
   
}

// footer
footer {

    .footer {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 3rem 0;
        background: $deep-blue;
        color: white;
        font-size: .9rem;
    }
    

    .info span {
        margin-right: 1rem;
    }

    .social-icon a {
        color: white;
        padding: 0 1rem;
    }

    .social-icon a i {
        font-size: 1.2rem;
        transition: .5s;
    }

    .social-icon a i:hover {
        transform: scale(1.1);
    }

    #copyright {
        text-align: center;
        padding: 1rem 0;
        background: $bg-blue;
        color: white;
        margin: -2rem 0;
        font-size: .9rem;

    }
   
}




//animations
@keyframes slider {
    0% {left: 0%;}
    20% {left: 0%;}
    35% {left: -100%;}
    50% {left: -100%;}
    60% {left: -200%;}
    75% {left: -200%;}
    85% {left: -300%;}
    100% {left: -300%;}
}

@keyframes slider-gallery {
    0% {left: 0%;}
    20% {left: -100%;}
    35% {left: -200%;}
    50% {left: -300%;}
    60% {left: -400%;}
    75% {left: -500%;}
    85% {left: -600%;}
    100% {left: -600%;}
}

@keyframes showcase-logo-slider {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}