@media screen and (max-width: 768px) {
 header {
     nav {
         .logo-container img {
             width: 70%;
         }

        ul.main-nav{
             width: 70vw !important;
             height: 100vh !important;
             background: rgb(7, 11, 75);
             flex-direction: column;
             position: fixed !important;
             top: -2rem !important;
             left: -100%;
             padding: 1rem 0 !important;
            //  transform: translateX(100%);
             transition: 1s ease-in-out;
         }

         .show-nav {
             left: 0% !important;
         }

         ul.main-nav li {
             width: 100% !important;
             text-align: center;
         }

         
        ul.main-nav li ul {
            position: relative !important;
        }

        ul.main-nav li ul li {
            width: 100% !important;
            height: 2rem !important;

        }

        ul li ul li:hover {
            transform: scale(1) !important;
        }

        #login-dropdown {
            left: 0 !important;
        }

        .burger-container {
            display: block;
        }


        .toggle div:first-child {
            transform: rotateZ(-45deg) translate(-4px, 5px);
        }

        .toggle div:nth-child(2) {
            opacity: 0;
        }

        .toggle div:last-child {
            transform: rotateZ(45deg) translate(-5px, -6px);
        }
     }
 }

 #showcase {
    .showcase-text {
        flex-direction: column-reverse !important;
        justify-content: center;
        align-items: center;
        padding-top: 3rem !important;
    }

    .showcase-text .text-container {
        width: 90% !important;
        text-align: center;
    }

    .text-container h2 {
        font-size: 2rem;
    }

    .text-container p {
        margin: 0 !important;
        font-size: .9rem;
    }

    .showcase-links span:hover {
        transform: scale(1.05);
    }

    .text-container .showcase-links a {
        padding: .5rem 2rem !important;
    }

    .showcase-text img {
        margin-top: 2rem;
    }

 }

 //about section 
    .about-container {
        flex-direction: column;
        justify-content: center !important;

        .about-image {
            display: none;
        }

        .about-text-container {
            width: 80% !important;
            height: 100%;
            margin-left: 0 !important;
            margin-right: 0 !important;
            padding: 1rem !important;
        }

        .about-text-container h2{
            margin-left: 0 !important;
            font-family: $header-font;
            font-size: 2rem !important;
        }

        .about-text-container p{
            margin-left: 0 !important;
        }

        .about-text-container img {
            display: block !important;
        }

        div.about-link {
            margin-bottom: 2rem !important;
        }

        .about-text-container a {
            margin-left: 0 !important;
            padding: 1rem 2rem;

        }
    }

    //count section
    .count-container {
        flex-direction: column;

        .count-item i {
            font-size: 1.5rem !important;
            margin-right: .5rem !important;
        }
    
        .count-item .number {
            font-size: 1rem !important;
        }
    }

    //job-section
    .job-container {
        h2 {
            font-size: 2rem !important;
        }

        .job-list-container {
            flex-direction: column !important;
        }

        .job-list-container .job {
            width: 60% !important;
            padding: 3rem 2rem;
            margin-bottom: 1rem !important;
        }

        .job-link {
            margin-top: 2rem !important;
        }
        
    }

    //news section
    .news-container {

        .news-items {
            width: 100%;
            grid-template-columns: 1fr !important;
        }

        h3 {
            font-size: 2.5rem !important;
        }

        .news-item {
            margin: 1rem 0 !important;

        }

        
    }

    //event section
    .event-container {
        padding: 4rem 3rem;
    
        h3 {
            font-size: 2rem !important;
        }
    
        .event-items {
            grid-template-columns: 1fr !important;
        }

        .event-item{
            width: 100%;
        }
    }

    //footer
    footer {

        .footer {
            flex-direction: column;
            justify-content: stretch !important;
            align-items: left !important;
            // padding: 3rem .5rem !important;

            
            .logo,
            .info {
                width: 90%;
                margin-bottom: .5rem !important;
            }

            .social-icon {
                margin-top: 1rem !important;
            }
        }
    } 
}